@CHARSET "UTF-8";
.cont{
	padding-top:30px;
	margin-left:600px;
}
.div_input{
	margin-top:10px;
	margin-bottom:10px;
}
.all_btn{
	margin-top:20px;
	margin-bottom:10px;
	margin-left:150px;
}
.err_msg{
	color: red;
	margin-top:20px;
	margin-left:20px;
	font-size: 12px;
	font-weight: bold;
}
.name_info{
	width:100px;
	margin-left:10px;
	float:left;
	font-size:20px;
	font-width:bold;
}
.input{
	width:250px; 
	height:24px; 
	line-height:24px; 
	padding:2px; 
	border:1px solid #d3d3d3
}