@charset "utf-8";
/* CSS Document */

.pagination{
	font-family:"微软雅黑";
	float:right;
	padding-right:10px;
	color:#353535;
}

.pagination a{ 
	padding:6px 10px; 
	border:1px #D8D8D8 solid; 
	margin-left:4px; 
	margin-top:3px;
	border-radius:3px;
}

.pagination a:hover{ 
	background-color:#353535; 
	color:#FFF; 
}

.pagination .thispage{
	padding:6px 10px; 
	border:1px #D8D8D8 solid;
	color:blue; 
	margin-left:4px; 
	margin-top:3px;
	border-radius:3px;
	cursor:pointer;
}
.goPage .int{
	background-color:#0092dc; 
	color:#FFF; 
	border:1px #00689d solid;
	padding:6px 10px;
	border-radius:3px;
	cursor:pointer;
}
.goPage .int:hover{ 
	background-color:#007fbf;
}

.goPage input{
	width:50px;
	text-align:center;
	border:1px #00689d solid;
	padding:6px 10px;
	border-radius:3px;
	margin-left:5px;
}
