<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>出错啦</title>
<link href="./public/css/frontcss/header.css" rel="stylesheet" type="text/css" />
<link href="./public/css/frontcss/public.css" rel="stylesheet" type="text/css" />
<link href="./public/css/frontcss/errorpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./public/js/jquery-1.7.2.js"></script>
<script language="javascript" type="text/javascript">
	var secs = 5;
	var URL;
	function load(url){
		URL = url;
		for(var i = secs;i >= 0;i--) {
			window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);    
		}
	}
	function doUpdate(num) {
		$("#setTime").html("<a style='color:red'>"+num+"</a>"+'秒后自动回到新闻首页'); 
		if(num == 0) {
		window.location=URL;
		}
	}
</script>
</head>
<body>
<div class="all">
	<div class="container">
		<div class = "left">
			<img src="./public/img/error.jpg" style="width:360px;height:270px;"/>
		</div>
		<!--end of left-->
		<div class = "right">
		<div class="first_line">
			糟糕，你访问的页面不存在！
		</div>
		<div class="second_line"id ="setTime">
			<script language="javascript">
			load("index.php?mod=article&act=index");
			</script>
		</div>
		<div class="third_line">
			或点此立即<a href="index.php?mod=article&act=index" style="color:red">返回首页</a>
		</div>
		</div>
		<!--end of right-->
	</div>
	<!--end of container-->
</div>
<!--end of all-->
</body>	
</html>