<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>footer</title>
<script type="text/javascript" src="./public/js/frontjs/footer.js"></script>
<link href="./public/css/frontcss/footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="foot_page_div">
		<div class="foot_hr"><hr size="5" color="#999999"/></div>
		<div class="page_div">
			<div class="foot_banner_div">
				关于我们&nbsp;|&nbsp;服务协议&nbsp;|&nbsp;隐私权保护&nbsp;|&nbsp;开放平台&nbsp;|&nbsp;广告服务&nbsp;|&nbsp;我的招聘&nbsp;|&nbsp;客服中心&nbsp;|&nbsp;网站导航
			</div>
			<div class="foot_copyright_div">
				Copyright © 1998 - 2014 Sailvan. All Rights Reserved
			</div>
			<div class="foot_owe_div">版权所有</div>
		</div>
	</div>
</body>
</html>